<!DOCTYPE html>
<html>

<head>
    <title>solo-poke</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Solopoke.png" type="image/png" sizes="64x64">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
</head>

<body>
<content id="chat">
    <ul id="messages">
        <li class="bubble" v-for="g in messageGroups" :class="{right: g.author != author}">
            <header class="time">{{formattedTime(g.time)}}</header>
            <p v-for="m in g.messages">{{m.text}}</p>
        </li>
    </ul>
    <span class="bubble right" style="opacity:0.5" :class="{hidden: !friend.writing}">{{friend.name}} is typing...</span>

    <v-text v-model="currentMSG" @send="send" @input="onInput" @change-name="onChangeName"></v-text>

    <footer>
        <span>
            <span class="onlineicon" :class="{online: me.online}">&#x2B24</span>
            {{me.name}}
        </span>
        <span>
            <span class="onlineicon" :class="{online: friend.online}">&#x2764</span>
            {{friend.name}}
        </span>
    </footer>
</content>


<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-database.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="backend.js"></script>
<script src="vText.js"></script>
<script src="app.js"></script>

<audio id="fwib" src="fwib2.wav"></audio>

</body>

</html>
