<body>
<content id="chat">
    <ul id="messages">
        <li class="message" v-for="m in messages" :class="{right: m.author != author, pending: m.status == 'pending', error: m.status == 'error'}">
            <header class="time" v-if="false">{{formattedTime(m.time)}}</header>
            <p>{{m.text}}</p>
        </li>
    </ul>

    <v-text v-model="currentMSG" @send="send()"></v-text>

    <input type="radio" v-model="author" value=1>
    <input type="radio" v-model="author" value=2>

</content>

</body>

<link rel="stylesheet" type="text/css" href="style.css">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.13.1/firebase-database.js"></script>

<script>

var vText = {
    props: ['value'],
    template: `<textarea placeholder="Write here" @input="onInput" rows=1 @keydown.enter.prevent="onEnter" :value="value"></textarea>`,
    directives: {
        focus: {
            inserted: function (el) {
                el.focus()
            }
        }
    },
    methods: {
        rows() {
            if (!this.$el) return 1; //new block on the block
            this.$el.setAttribute("rows", "1");
            var computed = window.getComputedStyle(this.$el);
            var lh = parseInt(computed.getPropertyValue('line-height'));
            var rows = parseInt(this.$el.scrollHeight / lh);
            this.$el.setAttribute("rows", rows);
            return rows;
        },
        onInput(event) {
            this.$emit('input', event.target.value);

            this.rows();
        },
        onEnter(event) {
            if (this.value == "") return;
            this.$emit('send');
            this.$el.setAttribute("rows", 1);
        }
    }
}

var app = new Vue({
    el: "#chat",
    data: {
        currentMSG: "",
        messages: [],
        msgUrl: "messages.json",
        author: 1,
        database: {}
    },
    methods: {
        send() {
            var msg = {text: this.currentMSG, time: Date.now(), author: this.author};
            this.upload(msg);
            msg.status = "pending";
            this.messages.push(msg);
            this.currentMSG = "";
        },
        formattedTime(time) {
            var date = new Date(time);
            return date.getHours() + "." + date.getMinutes() + "." + date.getSeconds();
        },
        upload(msg) {
            var vm = this;
            this.database.ref('messages').push().set(msg)
            .then(function(snapshot) {
                vm.messages[vm.messages.length-1].status = "sent";
            }, function(error) {
                console.error(error);
                vm.messages[vm.messages.length-1].status = "error";
            });
        },
        getMessages() {
            var vm = this;
            this.database.ref('messages').once('value').then(function(snapshot) {
                vm.messages = Object.values(snapshot.val());
            });
        },
        getDatabase() {
            var firebaseConfig = {
                apiKey: "AIzaSyCCMm7YgbtauAz3tx7Qq8gzwbCfLy_Gsjg",
                authDomain: "solo-poke.firebaseapp.com",
                databaseURL: "https://solo-poke.firebaseio.com",
                projectId: "solo-poke",
                storageBucket: "solo-poke.appspot.com",
                messagingSenderId: "583889049222",
                appId: "1:583889049222:web:5b43974b1605558c386307"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            return firebase.database();
        }
    },
    components: {
        'v-text': vText
    },
    mounted() {
        var firebaseConfig = {
            apiKey: "AIzaSyCCMm7YgbtauAz3tx7Qq8gzwbCfLy_Gsjg",
            authDomain: "solo-poke.firebaseapp.com",
            databaseURL: "https://solo-poke.firebaseio.com",
            projectId: "solo-poke",
            storageBucket: "solo-poke.appspot.com",
            messagingSenderId: "583889049222",
            appId: "1:583889049222:web:5b43974b1605558c386307"
        };
        firebase.initializeApp(firebaseConfig);
        this.database = firebase.database();

        this.getMessages();

        //window.scrollTo(0, document.body.scrollHeight);
    }
})

</script>