html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #222;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Hind', sans-serif;
}

content#chat {
    height: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding: 1em;
    margin: auto;

    display: grid;
}
ul#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    border-radius: 1em 0em 1em 0em;
    background-color: #2b2b2b;

    grid-row: 1 / span 3; grid-column: 1;
}
ul#messages::-webkit-scrollbar {
    display: none;
}

.bubble {
    background-color: #8bff92;
    padding: 0.4em 1em;
    border-radius: 1em 1em 1em 0em;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    max-width: 100%;
    overflow-wrap: break-word;
}
.bubble+.bubble {
    margin-top: 0.7em;
}
.bubble.right {
    background-color: aqua;
    align-self: flex-end;
    border-radius: 1em 0em 1em 1em;
}
.bubble.preview {
    opacity: 0.5;
    margin: 0.7em 0;
}
.bubble.preview.active {
    animation: flash 1s ease-out 0s infinite alternate;
    transform-origin: right;
}
@keyframes flash {
    0% { opacity: 0.5; transform: scale(1);}
    100% { opacity: 1; transform: scale(1.05);}
}
.bubble p {
    margin: 0;
}
.bubble .time {
    font-size: 14px;
}

.bubble img {
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.arrow {
    color: white;
    font-size:2em;
    background: linear-gradient(180deg, #222, transparent);
    border: none;
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
}
.arrow.down {
    background: linear-gradient(0, #222, transparent);
    grid-row: 3;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

textarea {
    outline: none;
    padding: 0.5em;
    border: 0;
    border-radius: 1em;
    background-color: #8bff92;
    white-space: normal;
    resize: none;
    overflow: hidden;
    display: block;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
textarea::placeholder {
    color: #0008;
}

footer {
    color: white;
}
footer .onlineicon {
    color: #DDD;
}
footer .onlineicon.online {
    color: #8bff92;
}
