body {
    margin: 0;
    background-color: #222;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Hind', sans-serif;
}

content#chat {
    height: 100vh;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 12px;
    margin: auto;
}
ul#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    border-radius: 1em 0em 1em 0em;
    background-color: #333;
}

.bubble {
    background-color: #8bff92;
    padding: 0.4em 1em;
    border-radius: 1em 1em 1em 0em;
    
    display: flex;
    flex-direction: column;
}
.bubble+.bubble {
    margin-top: 0.7em;
}
.bubble.right {
    background-color: aqua;
    align-self: flex-end;
    border-radius: 1em 0em 1em 1em;
}
.bubble p {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.message.pending {
    background-color: yellow;
}
.message.error {
    background-color: red;
}

.bubble .time {
    font-size: 14px;
}

textarea {
    flex-shrink: 0;
    outline: none;
    padding: 0.5em;
    border: 0;
    border-radius: 1em;
    background-color: #8bff92;
    bottom: 0;
    white-space: normal;
    resize: none;
    overflow: hidden;
    display: block;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
textarea::placeholder {
    color: #0008;
}

footer {
    color: white;
}
footer .onlineicon {
    color: #8bff92;
}
footer .onlineicon.online {
    color: #8bff92;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}