body {
    margin: 0;
    background-color: #222;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Hind', sans-serif;
}

content#chat {
    height: 100vh;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
    margin: auto;
}
ul#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    border-radius: 1em 0em 1em 0em;
    background-color: #2b2b2b;
}
ul#messages::-webkit-scrollbar {
    display: none;
}

.bubble {
    background-color: #8bff92;
    padding: 0.4em 1em;
    border-radius: 1em 1em 1em 0em;

    display: flex;
    flex-direction: column;
}
.bubble+.bubble {
    margin-top: 0.7em;
}
.bubble.right {
    background-color: aqua;
    align-self: flex-end;
    border-radius: 1em 0em 1em 1em;
}
.bubble.preview {
    opacity: 0.5;
    margin: 0.7em 0;
}
.bubble.preview.active {
    animation: flash 1s ease-out 0s infinite alternate;
    transform-origin: right;
}
@keyframes flash {
    0% { opacity: 0.5; transform: scale(1);}
    100% { opacity: 1; transform: scale(1.05);}
}
.bubble p {
    margin: 0;
}
.bubble .time {
    font-size: 14px;
}

.hidden {
    visibility: hidden;
}


<<<<<<< HEAD
<<<<<<< HEAD
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
=======
>>>>>>> parent of 01ae39b... arrows+gridify candidate
=======
>>>>>>> parent of 01ae39b... arrows+gridify candidate

textarea {
    flex-shrink: 0;
    outline: none;
    padding: 0.5em;
    border: 0;
    border-radius: 1em;
    background-color: #8bff92;
    bottom: 0;
    white-space: normal;
    resize: none;
    overflow: hidden;
    display: block;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
textarea::placeholder {
    color: #0008;
}

footer {
    color: white;
}
footer .onlineicon {
    color: #DDD;
}
footer .onlineicon.online {
    color: #8bff92;
}
